body * {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #424242;
}
.container {
  width: 1400px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  padding-top: 17px;
  padding-bottom: 17px;
  border-bottom: 1px solid #d6d6d6;
}
.container {
}
.header-row {
  display: flex;
  align-items: center;
}

.header-nav {
  font-weight: 500;
  color: #292929;
  margin-left: 172px;
}

.header-nav ul {
  display: flex;
}

.header-nav li:not(:last-child) {
  margin-right: 70px;
}

.header-nav a:hover {
  color: #01996d;
}
.header-nav a {
  transition: color 0.2s ease;
}

.header-login-link :hover {
  color: #01996d;
  transition: color 0.2s ease;
}
.header-login {
  margin-left: auto;
}
.btn,
a.btn {
  display: inline-block;
  color: #fff;
  background-color: #01996d;
  height: 51px;
  line-height: 51px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 4px;
}

.btn:hover,
a.btn:hover {
  opacity: 0.8;
  color: #fff;
  transition: opacity 0.2s ease;
}

.btn-big,
a.btn-big {
  display: inline-flex;
  align-items: center;
  min-height: 65px;
}

.header-login > * + * {
  margin-left: 35px;
}
.comtainer {
  margin-left: 245px;
}

.home {
  position: relative;
  min-height: 895px;
  padding-top: 175px;
  padding-bottom: 175px;
}

.home-content {
  max-width: 440px;
}

.home-heading {
  color: #01996d;
  font-family: serif;
  font-weight: 700;
  font-size: 65px;
}

.home-heading + * {
  margin-top: 30px;
}

.home-text {
  max-width: 430px;
  color: #484848;
  line-height: 144.5%;
}

.home-text + * {
  margin-top: 52px;
}

.home-bg-img {
  background-color: antiquewhite;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.home-bg-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.how-it-works {
  padding-top: 169px;
  padding-bottom: 51px;
}
.how-it-works-header {
  padding-bottom: 52px;
  display: flex;
  justify-content: space-between;
}
.how-it-works-header-head {
  margin-right: 36px;
  max-width: 584px;
}
.how-it-works-header-title {
  margin-bottom: -3px;
  font-weight: 600;
  font-size: 24px;
  line-height: 157%;
}
.how-it-works-header-subtitle {
  line-height: 157%;
  font-weight: 700;
  font-size: 50px;
  font-family: serif;
  color: #01996d;
}
.how-it-works-header-content {
  padding-top: 55px;
  line-height: 150%;
  max-width: 671px;
  font-weight: 500;
}
