body {
  height: 100vh;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto 1fr auto;
  gap: 10px;
}
.item {
  background-color: bisque;
  border: 1px solid greenyellow;
}
.item:nth-child(1) {
  grid-column: 1 / 3;
}
.item:nth-child(2) {
  grid-row: 2 / 4;
}

.item:nth-child(8) {
  grid-column: 1/4;
  height: 150px;
}
